header {
    display: flex;
    align-items: first baseline;
    gap: 50px;
    background-color: rgb(20, 20, 20);
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;

}

header img {
    margin-left: auto;
    display: block;
    max-height: 100px;
}

body {
    font-family: "Cascadia Code", sans-serif;
    background-color: rgb(40, 40, 40);
    color: white;
    margin: 0;
}

h1 {
    margin: 0;
    font-family: "Cascadia Code", sans-serif;
    font-size: 40px;
    text-align: left;
}
h2, h3, h4, h5, h6 {
    padding-left: 20px;
    font-family: inherit; /* Or specify a different font for headers */
}

ul {
    list-style-type: none;
    gap: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav a {
    margin-right: 40px;
    font-size: 24px;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

p {
    padding-left: 25px;
}